.skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: #152231;
  font-family: Tahoma;
  height: 100%;
  width: 100%;
}


.cols {
  display: flex;
  flex-wrap: wrap-reverse; /* Modificado para permitir el ajuste en pantallas pequeñas */
  justify-content: space-evenly;
  margin-bottom: 200px;
}

.col {
  width: 200px; /* Set the width as needed */
  height: 200px; /* Set the height as needed */
  perspective: 1000px;
}


.container_S {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.col:hover .container_S {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.img {
  max-width: 80%;
  height: auto;
}

.front {
  transform: rotateY(0deg);
  background-color: transparent;
  color: white;
}

.back {
  transform: rotateY(180deg);
  background-color: transparent;
  color: white;
}

.inner {
  padding: 10px;
  text-align: left;
}
