.general {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255); 
    margin-top: 150px;
  font-family: Tahoma;
  background-color: #152231;

  text-align: center;

}
 
.certi {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%; /* Set your desired maximum width */
    height: auto;
    margin: 0 auto; /* Center the carousel */
    color: white;
    margin-bottom: 150px;
  }

  .buttomNe{
    margin-right: 100px;
    background-color: #78b0a6;

  }

  .buttomPre{
    width: 100%;
    height: 100%;
    background-color: #78b0a6;
  }
  
  .carousel-inner img {
    border-radius: 10px; /* Add border-radius to images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow to images */
    position: relative;
    min-height: -90%;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }