/* @media only screen and (min-width: 600px) {
  .form {
    width: 60%; 
    margin-right: 10%; 
  }
} */


.contact_container {
  background-color: #152231;
  background-size: cover;
  background-position: center;
  width: 80%;
  min-height: 500px; /* Cambiado a min-height para permitir un crecimiento en contenido */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Tahoma;
}

.button2 {
  width: 150px;
  color: white;
  background-color: #78b0a6;
  border: #152231;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
font-family: Tahoma;
}

.button2:hover {
  background-color: #181a1d;
  border-color: #18222c;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%; /* Modificado para ocupar un ancho mayor en pantallas pequeñas */
  font-family: Tahoma;
  padding-left: 10%;
}

