header {
  height: 50%;
  width: 100%;
  background-color: #325157;
  padding: -1px 10px;
  z-index: 1000;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 50px;
  margin-left: 30%;
}

nav {
  margin-top: 10px;
  display: flex;
  width: 100%;
  color: white;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-items: center;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.boton {
  color: white;
  background-color: #78b0a6;
  border: #152231;
  border-radius: 10px;
  width: 50px;
  font-family: Tahoma;
  font-weight: bold;
}

.boton:hover {
  background-color: #181a1d;
  border-color: #18222c;
}

.botones {
  margin-left: 600px;
  position: absolute;
}