/* Añadir estilos al Header y a los botones según sea necesario */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: relative;

}

nav {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}


/* header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #152231;
    color: white;
    height: 60px;
  }
  
  .scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  } */