.container3 {

    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen horizontalmente */

}

.backIm {
    background-image: url('../../Images/binario.png');
    height: 210px;
    background-size: cover;
}

.imageAbout {
    border-color: antiquewhite;
    border-style:solid;
border-radius: 300px;
    height: 200px;
    width: 200px;
background-size: cover;
    margin-left: 450px;
    margin-top: 5px;
}

.textAbout {
    width: 75%;
    height: 500px;
    display: flex;
    color: white; /* Ajusta el color del texto para que sea legible en la imagen */
    margin-top: 60px;
    margin-left: 100px;
    border-top: seashell;
    font-size: larger;
}