.container {
    display: flex;
    flex-direction: column;
    width: auto;
  background-color: #152231;
  height: 500px;
  }
  
  .about {
  background-color: #152231;

  }
  .backIm {
    background-image: url('../../Images/binario.png');
    height: 210px;
    width: 100%;
  }
  
  .h2 {
    margin-right: 10px;
  }

  .imageAbout {
    border-color: antiquewhite;
    border-style: solid;
    border-radius: 300px;
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-left: 100px;
  background-color: #152231;
  }
  
  .textAbout {
    width: 100%; /* Utiliza el 100% del ancho en pantallas más pequeñas */
    height: auto; /* Ajusta la altura automáticamente */
    color: white;
    font-size: larger;
    text-align: justify;
    display: flex;
  }
  
  .img {
    max-width: 100%;
    height: auto;
  }
