.containerSocial {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: left;
    margin-top: 50px;
    font-family: Tahoma;
    width: 20%;
    font-size: small;
    padding: 10px;
    text-justify: initial;
}