.container1 {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    color: white; /* Ajusta el color del texto para que sea legible en la imagen */
    justify-content: space-evenly;
    
}


.textHome {
    margin-top: 100px;
    text-align: left;
    font-size: xx-large;
    height: 210px;
    margin-left: 200px;
} 

.button {
    width: 150px;
   
}
