.home {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    color: white; /* Ajusta el color del texto para que sea legible en la imagen */
    justify-content: space-evenly;
    
}

.imageHome {
    width: 50%;
}

.textHome {

    margin-top: 50px;
    text-align: left;
    font-size: xx-large;
    height: 210px;

} 

.button {
    width: 150px;
    margin-left: 200px;
}
